:root {
  --main-text: #212121;
  --link-focus: #2196f3;
  --logo-footer: #ffffff;
  --signatures: #757575;
  --contact-footer: rgba(117, 117, 117, 0.6);
  --baground: #2f303a;
  --buttons-background: #f5f4fa;
  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --logo-black: rgb(0, 0, 0);
  --border-select-product: rgb(238, 238, 238);
  --navi-border: rgb(236, 236, 236);
  --border-clients-section__box: rgba(175, 177, 184, 1);
  --clients-section__box: rgb(175, 177, 184);
  --gradient-motto: rgba(47, 48, 58, 0.4);
  --shadow-first-btn-selection: rgba(0, 0, 0, 0.12);
  --shadow-second-btn-selection: rgba(0, 0, 0, 0.08);
  --shadow-first-our-product: rgba(0, 0, 0, 0.16);
  --shadow-second-our-roduct: rgba(0, 0, 0, 0.6);
  --shadow-teamat: rgba(0, 0, 0, 0.25);
  --shadow-modal-second: rgba(0, 0, 0, 0.14);
  --shadow-modal-third: rgba(0, 0, 0, 0.2);
  --box-description-bgc: rgba(47, 48, 58, 0.8);
  --box-hidden-portfolio: rgba(33, 150, 243, 0.902);
  --transition-active: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --border-form-modal: rgba(33, 33, 33, 0.2);
  --newsletter-color-font: rgba(255, 255, 255, 0.6);
  --newsletter-border: rgba(255, 255, 255, 0.302);
}
/* GLOBAL */
body {
  font-family: var(--main-font);
  color: var(--main-text);
  padding: 0px;
  margin: 0px;
}
ul {
  list-style-type: none;
  padding-left: 0px;
  margin: 0px;
}
.container {
  width: 1200px;
  margin: 0 auto;
  height: auto;
  padding-left: 0px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.buttons:focus,
.buttons:hover,
.buttons:active {
  color: var(--logo-footer);
  background-color: var(--link-focus);
  border: var(--link-focus);
  transition: var(--transition-active);
}
.buttons {
  font-family: var(--main-font);
  color: var(main-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;
  background-color: var(--buttons-background);
  border-radius: 4px;
}
.active-blue:focus,
.active-blue:hover,
.active-blue:active {
  color: var(--link-focus);
  transition: var(--transition-active);
}
h2 {
  font-size: 36px;
  line-height: 1.172;
}
/* HEADER */
.page-header {
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--logo-footer);
}
.logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.172;
  text-decoration: none;
  display: block;
  text-align: center;
  width: 145px;
}
.page-header__color {
  color: var(--logo-black);
}
.logo__color {
  color: var(--link-focus);
}

.navigation-header {
  display: flex;
  flex: 1;
}
.navigation-header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 46px;
  margin-left: 93px;
}
.contact-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.contact-header__item {
  color: var(--signatures);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
  font-style: normal;
  text-decoration: none;
}

.contact-header__item:hover > svg,
.contact-header__item:focus > svg {
  fill: var(--link-focus);
  transition: var(--transition-active);
}

.navigation-header--underline-active {
  position: relative;
}
.navigation-header--underline-active::after {
  content: "";
  background-color: var(--link-focus);
  width: 53px;
  height: 4px;
  position: absolute;
  top: 45px;
  left: 0;
}
.navigation-header__link {
  font-size: 14px;
  line-height: 1.172;
  font-weight: 500;
  text-decoration: none;
  color: var(--main-text);
}
.contact-header__icon {
  fill: var(--signatures);
  margin-right: 10px;
}
.contact-header__icon:hover,
.contact-header__icon:focus,
.contact-header__icon:active {
  fill: var(--link-focus);
  transition: var(--transition-active);
}

/* MAIN */

/* MOTTO */
.mooto-section {
  border: 1px;
  height: 600px;
  border-color: var(--logo-black);
  background-color: var(--baground);
  background-image: linear-gradient(
      var(--gradient-motto),
      var(--gradient-motto)
    ),
    url(../images/motto.jpg);
  max-width: 1600px;
  background-size: cover;
  margin: auto;
}

.motto-section__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 30px;
}

.motto-section__title {
  color: var(--logo-footer);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  display: block;
  margin: 0px;
  text-align: center;
}

.motto-section__btn {
  font-family: var(--main-font);
  color: var(--logo-footer);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;
  background-color: var(--link-focus);
  border: 1px solid var(--link-focus);
  width: 200px;
  height: 50px;
  border: 0px;
  padding: 10px 41px 10px 42px;
}

/* RULES */

.rules-list {
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
  margin: 0px;
  gap: 30px;
}

.rules-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.172;
  margin: 0px;
}
.rules-list__explain {
  color: var(--signatures);
  font-size: 14px;
  line-height: 1.72;
}
.rules-list__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--buttons-background);
  border-radius: 4px;
  margin: 0px;
  margin-bottom: 30px;
}
/* CZYM SIE ZAJMUJEMY */

.our-work {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.our-work__title {
  display: block;
  margin-top: 0px;
  margin-bottom: 50px;
}
.our-work__img {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-left: 0px;
  margin: 0px;
  gap: 30px;
}
.our-work__figcaption {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  background-color: var(--box-description-bgc);
  position: absolute;
  bottom: 4px;
}
.our-work__description {
  font-size: 14px;
  line-height: 1.172;
  font-weight: 700;
  color: var(--logo-footer);
}

/* NASZ ZESPÓŁ */

.our-team {
  background-color: var(--buttons-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.our-team__title {
  display: block;
  margin-top: 0px;
  margin-bottom: 50px;
}
.our-team__list {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
  gap: 30px;
}
.our-team__member {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 270px;
  height: 428px;
  background-color: var(--logo-footer);
  box-shadow: 0 4px 4px var(--shadow-teamat);
}
.our-team__name {
  display: block;
  width: 72px;
  height: 19px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.172;
}
.media-section {
  display: block;
  padding: 0px;
}

.our-team__specialization {
  color: var(--signatures);
  font-size: 16px;
  line-height: 1.172;
}

.media-section__list {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 16px;
}
.our-team__icon-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  background-color: var(--logo-footer);
}
.active-blue:focus .our-team__icon-circle,
.active-blue:focus .our-team__icon {
  background-color: var(--link-focus);
  fill: var(--logo-footer);
  transition: var(--transition-active);
}

.our-team__icon-circle:hover,
.our-team__icon-circle:active {
  background-color: var(--link-focus);
  transition: var(--transition-active);
}
.our-team__icon-circle:hover > svg {
  fill: var(--logo-footer);
  background-color: var(--link-focus);
  transition: var(--transition-active);
}

.our-team__icon {
  fill: var(--clients-section__box);
}
/* NASI KLIENCI */
.clients-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.clients-section__title {
  margin-top: 0px;
  margin-bottom: 50px;
}
.clients-section__item {
  display: flex;
  gap: 30px;
}
.clients-section__box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--border-clients-section__box);
  border-radius: 4px;
}

.clients-section__box:hover > svg,
.clients-section__box:focus > svg {
  fill: var(--link-focus);
  border-color: var(--link-focus);
  transition: var(--transition-active);
}
.clients-section__box:hover,
.clients-section__box:active {
  border-color: var(--link-focus);
  transition: var(--transition-active);
}
.active-blue:focus .clients-section__box,
.active-blue:focus .clients-section__logo {
  border-color: (--link-focus);
  fill: var(--link-focus);
  transition: var(--transition-active);
}
.clients-section__logo {
  fill: var(--clients-section__box);
}
.active-blue:focus > .clients-section__box {
  border-color: var(--link-focus);
  fill: var(--link-focus);
}
/* FOOTER */
.page-footer {
  background-color: var(--baground);
}
.our-zone {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.our-zone__legal-addres {
  display: flex;
  flex-direction: column;
  width: 246px;
  height: 81px;
  gap: 9px;
  margin-bottom: 60px;
  color: var(--logo-footer);
  font-style: normal;
  font-size: 14px;
  line-height: 1, 71;
  background-color: var(--baground);
}
.page-footer__logo {
  margin-top: 60px;
  margin-bottom: 20px;
  color: var(--logo-footer);
}

.our-zone__address {
  display: block;
  margin: 0px;
}

.our-zone__contact {
  color: var(--contact-footer);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
  font-style: normal;
  text-decoration: none;
  display: block;
  padding-top: 9px;
}
.page-footer__box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 70px;
}
.media-footer__box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  background-color: var(--signatures);
}
.active-blue:focus > .media-footer__box {
  background-color: var(--link-focus);
  fill: var(--logo-footer);
  transition: var(--transition-active);
}

.media-footer__box:hover > svg {
  fill: var(--logo-footer);
  background-color: var(--link-focus);
  transition: var(--transition-active);
}
.media-footer__box:hover,
.media-footer__box:active {
  background-color: var(--link-focus);
  transition: var(--transition-active);
}
.media-footer__icon {
  fill: var(--logo-footer);
}
.media-footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.172;
  color: var(--logo-footer);
  margin: 0px;
}
.newsletter {
  display: flex;
  gap: 12px;
  align-items: flex-end;
}
.newsleter__box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.newsleter__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.172;
  color: var(--logo-footer);
  margin: 0px;
}
.newsleter__input {
  width: 358px;
  height: 50px;
  border: 1px solid var(--newsletter-border);
  border-radius: 4px;
  margin: 0px;
  padding: 0px;
  background-color: var(--baground);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  padding-left: 16px;
  color: var(--logo-footer);
  outline: none;
}
.newsleter__input::placeholder {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--newsletter-color-font);
  padding-left: 16px;
}

.newsleter__btn {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px;
  width: 200px;
  height: 50px;
  background-color: var(--link-focus);
  border: 2px solid var(--link-focus);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: var(--logo-footer);
  box-shadow: 0px 4px 4px var(--shadow-teamat);
}
.newsleter__btn--icon {
  fill: var(--logo-footer);
  transition: transform var(--transition-active);
}
.newsleter__btn:hover {
  cursor: pointer;
}
.newsleter__btn:hover .newsleter__btn--icon {
  transform: rotate(360deg);
}

/* MODAL */

.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--shadow-modal-third);
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition-property: visibility, opacity, transform;
  transition-duration: 1s;
  transform: scale(1) rotate(360deg);
}
.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  position: fixed;
  width: 528px;
  height: 581px;
  background-color: var(--logo-footer);
  border-radius: 4px;
  box-shadow: 0px 1px 3px var(--shadow-first-btn-selection),
    0px 1px 1px var(--shadow-modal-second),
    0px 2px 1px var(--shadow-modal-third);
}

.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.5);
}
.modal__icon-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 17px;
  right: 17px;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: #ffffff;
  border-color: rgba(0, 0, 0, 0.1);
  padding: 0px;
  margin: 0px;
}

.modal__icon-close:hover,
.modal__icon-close:focus {
  cursor: pointer;
}
.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-form__fildset {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 0px;
  gap: 10px;
  padding: 0px;
}

.modal-form__fildset-title {
  display: block;
  width: 448px;
  text-align: center;
  font-family: var(--main-font);
  font-size: 20px;
  line-height: 1.172;
  font-weight: 700;
  padding: 0px;
  margin: 0px 0px 12px 0px;
}
.modal-form__item {
  display: flex;
  flex-direction: column;
  gap: 2px;
  position: relative;
  width: 448px;
}
.modal-form__label {
  display: flex;
  flex-direction: column;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.172;
  color: var(--signatures);
  position: relative;
  gap: 2px;
}
.modal-form__input {
  border: 1px solid var(--border-form-modal);
  border-radius: 4px;
  width: 406px;
  height: 40px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  padding: 0px 0px 0px 42px;
  outline: none;
}

.modal-form__focus:focus-within > input,
.modal-form__focus:focus-within > svg {
  border-color: var(--link-focus);
  fill: var(--link-focus);
  transition: var(--transition-active);
}
.modal-form__icon {
  position: absolute;
  top: 30px;
  left: 12px;
  fill: var(--main-text);
}

.modal-form__textarea {
  border: 1px solid var(--border-form-modal);
  border-radius: 4px;
  outline: none;
  width: 416px;
  height: 96px;
  resize: none;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  padding: 12px 16px;
}
.modal-form__textarea::placeholder {
  font-family: var(--main-font);
  font-weight: 400px;
  font-size: 12px;
  line-height: 1.172;
  color: var(--contact-footer);
}

.modal-form__textarea:focus {
  border: 1px solid var(--link-focus);
  transition: var(--transition-active);
}

.modal-form__check-div {
  margin: 20px 0px 0px 0px;
}
.modal-form__check-label {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--signatures);
  margin-top: 20px;
  padding-left: 24px;
  position: relative;
}
.modal-form__check-input {
  appearance: none;
}
.modal-form__check-label::before {
  position: absolute;
  display: block;
  top: 1px;
  left: -2px;
  width: 16px;
  height: 15px;
  content: "";
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='15' fill='none'%3E%3Cpath fill='%23212121' d='M14.222 1.667v11.666H1.778V1.667h12.444Zm0-1.667H1.778C.8 0 0 .75 0 1.667v11.666C0 14.25.8 15 1.778 15h12.444C15.2 15 16 14.25 16 13.333V1.667C16 .75 15.2 0 14.222 0Z'/%3E%3C/svg%3E");
  transition: var(--transition-active);
}
.modal-form__check-input:checked + .checkbox::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='15' fill='none'%3E%3Crect width='16' height='15' fill='%232196F3' rx='2'/%3E%3Cpath fill='%23fff' stroke='%23fff' stroke-width='.2' d='m3.957 7.752-.069-.066-.069.065-.888.842-.076.072.076.073 3.496 3.334.069.066.069-.066 7.504-7.158.076-.073-.076-.072-.882-.841-.069-.066-.069.066-6.553 6.246-2.539-2.422Z'/%3E%3C/svg%3E");
  background-position: center;
  border: none;
}
.modal-form__check-link {
  color: var(--link-focus);
  cursor: pointer;
}
.modal-form__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0px 0px 0px;
  padding: 0px;
  width: 200px;
  height: 50px;
  background-color: var(--link-focus);
  border: 0px;
  border-radius: 4px;
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  color: var(--logo-footer);
  box-shadow: 0 4px 4px var(--shadow-teamat);
}
.modal-form__btn:hover,
.modal-form__btn:focus {
  transition: var(--transition-active);
  cursor: pointer;
  box-shadow: 8px 8px 6px greenyellow;
}
/* KONIEC index */

/* PORTFOLIO */
.page-header--underline {
  border-bottom: 1px solid var(--navi-border);
}

.product-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.selection-btn {
  display: flex;
  width: 572px;
  padding: 0px;
  margin: 0px;
  margin-bottom: 34px;
  gap: 8px;
}
.selection-btn__item {
  display: block;
  padding: 6px 22px;
  border: 0px;
}

.product-box__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
  gap: 30px;
}
.product-box__item > img {
  display: block;
}
.product-box__item {
  flex-basis: calc((100%- 90px) / 3);
  display: block;
  width: 370px;
  height: 404px;
}
.product-box__label {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: var(--border-select-product);
}
.label-product {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 20px auto 20px 24px;
}
.label-product__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin: 0px;
}
.product-box__type {
  color: var(--signatures);
  font-size: 16px;
  line-height: 1.88;
}

.selection-btn__item:hover,
.selection-btn__item:focus,
.selection-btn__item:active {
  cursor: pointer;
  box-shadow: 0px 2px 2px var(--shadow-first-btn-selection),
    0 1px 2px var(--shadow-second-btn-selection);
  transition: var(--transition-active);
}
.product-box__item:focus,
.product-box__item:hover,
.product-box__item:active {
  cursor: pointer;
  box-shadow: 1px 4px 6px var(--shadow-first-our-product),
    0 4px 4px var(--shadow-second-our-roduct);
  transition: var(--transition-active);
}
.box-overlay {
  position: relative;
  overflow: hidden;
  width: auto;
  height: 294px;
}

.box-overlay__hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 294px;
  background-color: var(--box-hidden-portfolio);
  transform: translateY(100%);
  transition: var(--transition-active);
  visibility: hidden;
}
.box-overlay__label {
  display: block;
  padding: 49px 45px 49px 24px;
  margin: auto;
  color: var(--logo-footer);
  font-size: 18px;
  line-height: 1.55;
  text-align: left;
}
.product-box__item:hover .box-overlay__hidden,
.product-box__item:focus .box-overlay__hidden {
  transform: translateY(0);
  visibility: visible;
}
