body {
  font-family: var(--main-font);
  color: var(--main-text);
  padding: 0px;
  margin: 0px;
}
ul {
  list-style-type: none;
  padding-left: 0px;
  margin: 0px;
}
h2 {
  font-size: 36px;
  line-height: 1.172;
}
.container {
  width: 1200px;
  margin: 0 auto;
  height: auto;
  padding-left: 0px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.buttons {
  font-family: var(--main-font);
  color: var(main-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;
  background-color: var(--buttons-background);
  border-radius: 4px;
  &:hover,
  &:focus,
  &:active {
    color: var(--logo-footer);
    background-color: var(--link-focus);
    border: var(--link-focus);
    -webkit-transition: var(--transition-active);
    transition: var(--transition-active);
  }
}

.active-blue:focus,
.active-blue:hover,
.active-blue:active {
  color: var(--link-focus);
  transition: var(--transition-active);
  & .our-team__icon-circle,
  & .our-team__icon {
    background-color: var(--link-focus);
    fill: var(--logo-footer);
    transition: var(--transition-active);
  }
  & .clients-section__box,
  & .clients-section__logo {
    border-color: (--link-focus);
    fill: var(--link-focus);
    transition: var(--transition-active);
  }
  & > .clients-section__box {
    border-color: var(--link-focus);
    fill: var(--link-focus);
  }
  & > .media-footer__box {
    background-color: var(--link-focus);
    fill: var(--logo-footer);
    transition: var(--transition-active);
  }
}
