:root {
    --main-text: #212121;
    --link-focus: #2196f3;
    --logo-footer: #ffffff;
    --signatures: #757575;
    --contact-footer: rgba(117, 117, 117, 0.6);
    --baground: #2f303a;
    --buttons-background: #f5f4fa;
    --main-font: "Roboto", sans-serif;
    --logo-font: "Raleway", sans-serif;
    --logo-black: rgb(0, 0, 0);
    --border-select-product: rgb(238, 238, 238);
    --navi-border: rgb(236, 236, 236);
    --border-clients-section__box: rgba(175, 177, 184, 1);
    --clients-section__box: rgb(175, 177, 184);
    --gradient-motto: rgba(47, 48, 58, 0.4);
    --shadow-first-btn-selection: rgba(0, 0, 0, 0.12);
    --shadow-second-btn-selection: rgba(0, 0, 0, 0.08);
    --shadow-first-our-product: rgba(0, 0, 0, 0.16);
    --shadow-second-our-roduct: rgba(0, 0, 0, 0.6);
    --shadow-teamat: rgba(0, 0, 0, 0.25);
    --shadow-modal-second: rgba(0, 0, 0, 0.14);
    --shadow-modal-third: rgba(0, 0, 0, 0.2);
    --box-description-bgc: rgba(47, 48, 58, 0.8);
    --box-hidden-portfolio: rgba(33, 150, 243, 0.902);
    --transition-active: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --border-form-modal: rgba(33, 33, 33, 0.2);
    --newsletter-color-font: rgba(255, 255, 255, 0.6);
    --newsletter-border: rgba(255, 255, 255, 0.302);
  }